div.singleCompendiumEditor hr, div.advancedCompendiumEditor hr {
    margin-top:    10px;
    margin-bottom: 10px;
}

div.singleCompendiumEditor div.inputs, div.advancedCompendiumEditor div.inputs {
    display:               grid;
    grid-template-columns: auto 1fr;
    grid-gap:              15px;
}

div.singleCompendiumEditor #includeImages, div.advancedCompendiumEditor #includeImages {
    margin-left: 0;
}

div.singleCompendiumEditor div.inputs > label, div.advancedCompendiumEditor div.inputs > label {
    font-size:  15px;
    margin-top: 3.5px;
}

div.singleCompendiumEditor div.buttons > button, div.advancedCompendiumEditor div.buttons > button {
    width:        calc(50% - 5px);
    float:        left;
    margin-left:  0;
    margin-right: 5px;
}

div.singleCompendiumEditor div.buttons > button[type="submit"], div.advancedCompendiumEditor div.buttons > button[type="submit"] {
    margin-right: 0;
    margin-left:  5px;
}

div.advancedCompendiumEditor table tbody td {
    text-align: center;
}